// Styles for components animations.

.animate-claim {
  position: relative;
  animation-duration: 1.0s;
  animation-name: slidein;
}

.animate-subclaim {
  position: relative;
  animation-duration: 2.0s;
  animation-name: slidein-fast;
}

.animate-menu {
  animation-duration: 3.0s;
  animation-name: fade-in;
}

@keyframes slidein {
  from {
    left: -100%;
    opacity: 0;
  }

  10% {
    left: -100%;
    opacity: 0;
  }

  70% {
    left: 2%;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes slidein-fast {
  from {
    left: -100%;
    opacity: 0;
  }

  40% {
    left: -100%;
    opacity: 0;
  }

  80% {
    left: 2%;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    left: -100%;
    opacity: 0;
  }

  40% {
    left: -100%;
    opacity: 0;
  }

  80% {
    left: 2%;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  to {
    left: 0;
    opacity: 1;
  }
}
