// Base styles for all project. Project specific styles are defined here.

@import "constants";

html {
  color: $color-primary;
  font-family: $font-proxima-regular;
  font-size: $size-base;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-proxima-black;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  margin-bottom: 1.56rem;
  line-height: 1.7em;
}

nav {
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 2.5em;
    width: 6rem;
  }
}

a {
  text-decoration: none;
}
