// Styles for standalone components.

@import "constants";
@import "mixins";

.grid-layout {
  pointer-events: none;

  div {
    border-right: 1px solid $color-grid;

    &:last-child {
      border: 0;
    }
  }
}

.logo {
  width: rem(190);
}

.link {
  @include font-size(14);
  border-bottom: 1px solid lighten($color-blue, 40%);
  color: $color-blue;
  font-weight: 600;
  text-decoration: none;
  transition: border-color 300ms ease-out;

  &:hover {
    border-color: currentColor;
  }

  &--red {
    color: $color-red;
  }
}

.button {
  background-color: $color-red;
  color: $color-white;
  box-shadow: 0 1px 1px 0 #231f20;
  font-size: 1rem;
  border-radius: 25px;
  display: inline-block;
  font-weight: bold;
  line-height: 2.5rem;
  padding: 0 1.45em;
  text-decoration: none;
  text-transform: uppercase;
}

.clients {
  margin-top: 8.75rem;
  &_logo {
    &-holder {
      display: inline-block;
    }
  }

  a {
    margin: 0 auto;
    vertical-align: middle;
  }
}

.team {
  &__divider {
    padding-top: 3.4375rem;
  }

  &__name {
    line-height: 1.575rem;
    margin-bottom: 0.65rem;
    margin-top: 0.5rem;
  }
}

.contact {
  &__to-action {
    line-height: 1.8125rem;
    margin-bottom: 1.25rem;
  }
}
