// Sizes
$size-base: 16;
$size-base-font: #{$size-base}px;

// Colors
$color-primary: #231f20;
$color-blue: #2da4dd;
$color-red: #e34459;
$color-grid: rgba(147, 166, 180, 0.2);

// Fonts
$font-proxima-black: 'proxima_black', 'helvetica', 'sans-serif';
$font-proxima-bold: 'proxima_bold', 'helvetica', 'sans-serif';
$font-proxima-regular: 'proxima_regular', 'helvetica', 'sans-serif';
