// Sizes
$size-base: 16px;

// Colors
$color-primary: #231f20;
$color-blue: #2da4dd;
$color-red: #e34459;
$color-grey: grey;
$color-white: white;
$color-grid: rgba(147, 166, 180, 0.2);
$color-grid-unit: rgba(147, 166, 180, 0.6);

// Fonts
$font-proxima-black: 'Proxima Nova Bl', 'helvetica', 'sans-serif';
$font-proxima-bold: 'Proxima Nova Rg', 'helvetica', 'sans-serif';
$font-proxima-regular: 'Proxima Nova Rg', 'helvetica', 'sans-serif';
