---
title: :page_title
---
<div class="desktop-menu container fixed to-top full-width screen-height none-events z-index-2 animate-menu">
  <div class="grid-1 all-events p-left-4 p-top-4 full-height relative">
    <% link_to "#", data: { scroll_to: "home" } do %>
      <%= image_tag "logo-dark.svg", class: "logo" %>
    <% end %>

    <nav class="p-top-3">
      <ul>
        <li>
          <% link_to "##{t :slug, scope: :services}", data: { scroll_to: t(:slug, scope: :services) }, class: "block" do %>
            <span class="f-16 link"><%=t :title, scope: :services %></span>
          <% end %>
        </li>
        <li>
          <% link_to "##{t :slug, scope: :references}", data: { scroll_to: t(:slug, scope: :references) }, class: "block" do %>
            <span class="f-16 link"><%=t :title, scope: :references %></span>
          <% end %>
        </li>
        <li>
          <% link_to "##{t :slug, scope: :team}", data: { scroll_to: t(:slug, scope: :team) }, class: "block" do %>
            <span class="f-16 link"><%=t :title, scope: :team %></span>
          <% end %>
        </li>
        <li>
          <% link_to "##{t :slug, scope: :contact}", data: { scroll_to: t(:slug, scope: :contact) }, class: "block" do %>
            <span class="f-16 link link--red"><%=t :title, scope: :contact %></span>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div id="home" class="section section--without-padding cover grid-6">
  <div class="s-grid-1 m-grid-2 l-grid-2 z-index-1 full-height relative shader--white">&nbsp;</div>
  <div class="s-grid-5 m-grid-4 l-grid-4 relative p-right-2">
    <% link_to "#", class: "mobile-logo absolute animate-menu m-top-4" do %>
      <%= image_tag "logo-dark.svg", class: "logo" %>
    <% end %>

    <h2 class="f-45 m-bottom-2 animate-claim p-top-10">
      <%=t :title %>
    </h2>

    <h1 class="f-32 t-bold animate-subclaim">
      <%=t :subtitle %>
    </h1>
  </div>
  <div class="s-grid-1">&nbsp;</div>
</div>

<div class="grid-6" id="<%=t :slug, scope: :services %>"></div>
<div class="section grid-6">
  <div class="s-grid-0 m-grid-2 l-grid-2">&nbsp;</div>
  <div class="l-grid-3 m-grid-3">
    <h2 class="f-32 m-bottom-2"><%=t :title, scope: :services  %></h2>
    <p class="f-21 m-bottom-3">
      <%=t :specialization, scope: :services %>
    </p>

    <div class="flex space-between wrap">
      <div class="t-centered m-right-2 p-bottom-3 p-right-2 s-grid-6 m-grid-2 l-grid-2">
        <%= image_tag "ideation.png", class: "image" %>
        <div class="t-bold c-grey m-top-1"><%=t :ideation, scope: :services %></div>
      </div>
      <div class="t-centered m-right-2 p-left-1 p-right-1 p-bottom-3 s-grid-6 m-grid-2 l-grid-2">
        <%= image_tag "prototype.png", class: "image" %>
        <div class="t-bold c-grey m-top-1"><%=t :prototyping, scope: :services %></div>
      </div>
      <div class="t-centered p-bottom-3 p-left-2 s-grid-6 m-grid-2 l-grid-2">
        <%= image_tag "product.png", class: "image" %>
        <div class="t-bold c-grey m-top-1"><%=t :product, scope: :services %></div>
      </div>
    </div>
  </div>
</div>

<div class="grid-6" id="<%=t :slug, scope: :references %>"></div>
<div class="section grid-6">
  <div class="s-grid-0 m-grid-2 l-grid-2">&nbsp;</div>
  <div class="l-grid-3 m-grid-3">
    <h2 class="f-32 m-bottom-2"><%=t :title, scope: [:references] %></h2>
    <p class="f-21">
      <%=t :cto, scope: [:references] %>
    </p>
    <p class="f-21">
      <%=t :our_clients, scope: [:references] %>
    </p>
    <div class="m-top-4 flex wrap center-aligned full-width">
      <% data.content.clients.each do |client| %>
        <div class="reference t-centered m-bottom-2 p-left-1 p-right-1"><%= image_tag "clients/#{client}.png", class: "image" %></div>
      <% end %>
    </div>
  </div>
</div>

<div class="grid-6" id="<%=t :slug, scope: :team %>"></div>
<div class="section grid-6">
  <div class="s-grid-0 m-grid-2 l-grid-2">&nbsp;</div>
  <div class="m-grid-3 l-grid-3">
    <h2 class="f-32 m-bottom-2">
      <%=t :title, scope: :team %>
    </h2>

    <p class="f-21 m-bottom-2">
      <%=t :description, scope: :team %>
    </p>


    <div class="team">
      <% data.content.team.each do |member| %>
        <div class="team__member s-grid-3 m-grid-2 l-grid-2">
          <%= image_tag "team/#{member.image}", class: "image" %>
          <p class="t-bold f-21 team__name"><%= member.name %></p>
          <p class="f-16"><%= member.title %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="grid-6" id="<%=t :slug, scope: :contact %>"></div>
<div class="section grid-6">
  <div class="s-grid-0 m-grid-2 l-grid-2">&nbsp;</div>
  <div class="m-grid-3 l-grid-3">
    <h2 class="f-32 m-bottom-2">
      <%=t :title, scope: [:contact] %>
    </h2>
    <p class="f-21">
      <%=t :comunication, scope: [:contact] %>
    </p>
  </div>
  <div class="s-grid-0 m-grid-1 l-grid-1">&nbsp;</div>

  <div class="s-grid-0 m-grid-2 l-grid-2">&nbsp;</div>
  <div class="f-21 s-grid-6 grid-2 p-bottom-3">
    <p class="c-grey contact__to-action">
      <%=t :email_us, scope: :contact %>
    </p>
    <p class="t-bold f-32">
      <%= link_to t("contact.email"), "mailto:#{t("contact.email")}", class: "link" %>
    </p>
  </div>
  <div class="f-21 s-grid-6 grid-2 p-bottom-3">
    <p class="c-grey contact__to-action">
      <%=t :call_us, scope: :contact %>
    </p>
    <p class="t-bold f-32">
      <% link_to "tel:#{t("contact.phone")}", class: "c-black" do %>
        <%= image_tag "phone.png", class: "phone-icon" %> <span><%=t "contact.phone_title"%></span>
      <% end %>
    </p>
  </div>
</div>
