---
title: 6 Artisans - od nápadu k úspěšnému byznysu
---

<%= image_tag "logo-dark.svg" %>

<div class="container">
  <div class="grid-2">&nbsp;</div>
  <div class="l-grid-2 m-grid-3">
    <h2 class="f-45 m-bottom-2">
      Od nápadu<br>
      k úspěšnému byznysu
    </h2>

    <h1 class="f-32 t-bold">
      Navrhujeme & programujeme<br>
      skvělé webové aplikace
    </h1>
  </div>
</div>
